/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;

  }

  ion-card {
    column-count: 2;
    width: 50%;
   
  }
  div {
    display: flex;
    flex-direction: row;
    height: 62%;
  }

  #tres {
    width: 100%;
  }