<div>
<ion-card>
    <img alt="Silhouette of mountains" src="../../../../assets/fotospeople/SergioD.png" />
    <ion-card-header>
      <ion-card-title>Sergio Dominguez Gomez</ion-card-title>
      <ion-card-subtitle>2º DAM</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Alumno de 2º DAM CPIFP Nuevo 2022/2023.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../../../assets/icon/Inmobiliary.jpg" />
    <ion-card-header>
      <ion-card-title>Inmobiliary</ion-card-title>
      <ion-card-subtitle>App para Inmobiliarias</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Inmobiliary, app desarrollada por Sergio Dominguez Gomez para gestionar las visitas de los clientes de la inmobiliaria con las casas disponibles.
    </ion-card-content>
  </ion-card>
</div>

<ion-card id="tres">
    <img alt="Silhouette of mountains" src="../../../../assets/casas/IESCamp.jpg" />
    <ion-card-header>
      <ion-card-title>CPIFP Nuevo</ion-card-title>
      <ion-card-subtitle>Centro de formacion</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        CPIFP Nuevo es un Centro Integrado situado en el Parque Tecnológico de Andalucía (PTA). Dispone de Los grados de la rama de Informática y Comunicaciones, así como los cursos de especialización. En pleno corazon del parque tecnológico rodeado por empresas del sector.
    </ion-card-content>
  </ion-card>